/* animations below */

@keyframes listDrop{
0%{top: 3vh; opacity: 0;} 
100%{top: 5vh; opacity: 1;} 
}

@keyframes appear{
0%{opacity: 0;}
100%{opacity: 1;}    
}

@keyframes hoverFindMore{
    0%{opacity: 0.5;}
    100%{opacity: 0.5;}    
    }
@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}


/* tag animations */

@keyframes tag1 {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: rotate(45deg);
      opacity: 1;
    }
  }
  @keyframes tag2 {
    0% {
      transform: rotate(0deg);
  
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg);
  
      opacity: 1;
    }
  }
  
  @keyframes tag1Reverse {
    0% {
      transform: rotate(45deg);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(0deg);
      opacity: 0;
    }
  }
  
  @keyframes tag2Reverse {
    0% {
      transform: rotate(-45deg);
  
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(0deg);
      opacity: 0;
    }
  }
  @keyframes tagPress {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    60% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
      transform: rotate(-250deg);
    }
  }
  @keyframes tagBack {
    0% {
      opacity: 0;
      transform: rotate(-250deg);
    }
    60% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }


  @keyframes menuShow {
    0% {
      left: -30vw;
      opacity: 0;
    }
    100% {
      left: 0vw;
      opacity: 1;
    }
  }
  @keyframes menuHide {
    0% {
      left: 0vw;
      opacity: 1;
    }
    100% {
      left: -30vw;
      opacity: 0;
    }
  }

  @keyframes ulShow {
    0% {
      left: -30vw;
      opacity: 0;
    }
    100% {
      left: -4vw;
      opacity: 1;
    }
  }
  @keyframes ulHide {
    0% {
      left: -4vw;
      opacity: 1;
    }
    100% {
      left: -30vw;
      opacity: 0;
    }
  }


  @keyframes packageSelectInview{

    0%{
      left: -50%;
      opacity: 0;
    }
    100%{
      left: 50%;
      opacity: 1;
    }
  }  

  @keyframes packageSelectOutview{

    0%{
      left: 50%;
      opacity: 1;
    }
    100%{
      left: -50%;
      opacity: 0;
    }
  }  

/* end of animations */

*{
margin: 0;
border: 0;
overflow-x: hidden;
}

body{
margin: 0;
border: 0;    
}

a {
  -webkit-tap-highlight-color: transparent;
}


/* below is a container to house all content to stop overflow */

#mainContainer{
position: absolute; 
width: 100vw;
height: 640vh; 
overflow-x: hidden;  
}
/* main header below */

#headerDiv{
position: fixed;
top: 0vh;
left: 0vw;
width: 100vw;
height: 15vh;
background-color: rgb(152, 133, 170);  
overflow-y: hidden;  
z-index: 8;
}

#tag {
    position: absolute;
    top: 6vh;
    left: 85vw;
    width: 6vw;
    min-width: 40px;
    z-index: 3;
    display: none;
  }
  
  #tag1 {
    position: absolute;
    top: 6.1vh;
    left: 85vw;
    width: 5.9vw;
    min-width: 40px;
    z-index: 1;
    opacity: 0;
    display: none;
  }
  
  #tag2 {
    position: absolute;
    top: 6.1vh;
    left: 85vw;
    width: 5.9vw;
    min-width: 40px;
    z-index: 1;
    opacity: 0;
    display: none;
  }


  #menuDiv {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 30vw;
    background-color: rgb(53, 67, 77);
    opacity: 0;
    z-index: 10;
    display: none;
  }
/* header ul list */

#headerUl{
position: absolute;
top: 5vh; 
left: 10vw;   
color: white;
z-index: 3;
animation: listDrop 1s linear forwards;
animation-delay: 0.5s;
opacity: 0;
z-index: 10;

}

#headerUl li {
display: inline;
font-size: 2vw;
padding-right: 14vw;
font-family: 'Indie Flower', cursive;
}

#headerUl li:hover{
color: rgb(215, 215, 233);    
}

#headerUl a{
    
text-decoration: none;  
color: rgb(253, 236, 0);  
}

#aMenu{
color: rgb(253, 236, 0); 
  
}
#aContact{
color: rgb(253, 236, 0);     
}

#logoLight{
  position: absolute;
  top: 1vh;
  left: 4vw;
  width: 35vw;
  display: none;
   
 
  }
  

/* title div below */

#titleDiv{
position: absolute;
top: 15vh;
left: 0vw;
width: 100vw;
height: 85vh;
   
}

#bikePic{
position: absolute;
top: 0vh;
left: 0vw;
width: 100vw;
height: 85vh; 
opacity: 1;  
}

#bikePic2{
display: none;    
}

#logo{
position: absolute;
top: 20vh;
left: 75vw;
height: 50vh;
width: 16.5vw;
z-index: 3;  
opacity: 0;     
}

#logo2{
display: none;    
}


#white{
position: absolute;
top: 0vh;
left: 62vw;
height: 85vh;
width: 40vw;
z-index: 2; 
animation: appear 2s linear forwards; 
    
}
#whiteHeader{
position: absolute;
top: 0vh;
left: 55.2vw;
height: 60vh;
width: 49vw;
opacity: 0.5;
z-index: 2; 
animation: appear 2s linear forwards; 
}

#findMore{
position: absolute;
top: 74vh;
left: 36vw;
width: 25vw;
height: 9vh;
z-index: 3;

 
}



/* div with social media icons below */


#socialMedia{
position: absolute;
top: 100vh;
left: 0vw;
width: 100vw;
height: 10vh;
border-style: solid;
border-width: 3px;
border-left: none;
border-right: none;
border-color: rgb(253, 236, 0);
}

#fb{
position: absolute;
top: 0.5vh;
left: 5vw;
width: 5vw;
height: 9vh;    
}

#insta{
    position: absolute;
    top: 0.3vh;
    left: 5vw;
    width: 5vw;
    height: 9vh;    
    }
#twiter{
    position: absolute;
    top: 0.3vh;
    left: 10vw;
    width: 5vw;
    height: 9vh;    
    }
#whatsapp{
    position: absolute;
    top: 0.1vh;
    left: 15vw;
    width: 5vw;
    height: 9vh;    
    }

 /* below is packages information div */
 
 #packagesDiv{
 position: absolute;    
 top: 111vh;
 left: 0vw;
 width: 100vw;
 height: 160vh;
     
 }

 #charcoalIce{
 position: absolute;
 top: 0vh;
 left: 0vw;
 width: 100vw;
 height: 100vh;
 opacity: 0.5;  
 z-index: 0;  
 }

 #bikehiretext{
 position: absolute;
 top: 10vh;
 left: 10vw;  
 width: 75vw;
 height: 65vh;  
 }


 #packBox1{
position: absolute;
top: 87vh;   
left: 10vw; 
width: 20vw;
height: 61vh;
background-color: rgb(107, 94, 119);
border-radius: 15px;
border-style: solid;
border-color: rgb(224, 206, 240);
border-width: 3px;
z-index: 2;
 }
 #packBox1:hover{
 opacity: 0.5;  
 cursor: pointer;  
 }

 #silverh1{
position: absolute;
top: 10%;   
left: 50%;
transform: translate(-50%, -50%);
font-size: 45px;
font-family: 'Indie Flower', cursive;
color: rgb(210, 216, 216);  
z-index: 5;   
}   

#silverP{
position: absolute;
top: 60%;   
left: 50%;
transform: translate(-50%, -50%);
font-size: 22px;
font-family: 'Indie Flower', cursive;
color: rgb(210, 216, 216);  
z-index: 5;    
}

 #packBox2{
position: absolute;
top: 87vh;   
left: 40vw; 
width: 20vw;
height: 61vh;
background-color: rgb(107, 94, 119);
border-radius: 15px;
border-style: solid;
border-color: rgb(224, 206, 240);
border-width: 3px;
z-index: 2;

}
#packBox2:hover{
opacity: 0.5; 
cursor: pointer;    
}


#goldh1{
position: absolute;
top: 10%;   
left: 50%;
transform: translate(-50%, -50%);
font-size: 45px;
font-family: 'Indie Flower', cursive;
color: rgb(253, 236, 0);  
z-index: 5;   
}

#goldP{
  position: absolute;
  top: 55%;   
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  color: rgb(210, 216, 216);  
  z-index: 5;    
  }

#packBox3{
position: absolute;
top: 87vh;   
left: 70vw; 
width: 20vw;
height: 61vh;
background-color: rgb(107, 94, 119);
border-radius: 15px;
border-style: solid;
border-color: rgb(224, 206, 240);
border-width: 3px;
z-index: 2;
}
#packBox3:hover{
opacity: 0.5; 
cursor: pointer;    
}
#plath1{
position: absolute;
top: 10%;   
left: 50%;
transform: translate(-50%, -50%);
font-size: 45px;
font-family: 'Indie Flower', cursive;
color: rgb(252, 252, 252);  
z-index: 5;   
}    

#platP{
  position: absolute;
  top: 60%;   
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  color: rgb(210, 216, 216);  
  z-index: 5;    
  }

 #packBoxDiv{
 position: absolute;
 top: 100vh;
 left: 0vw;
 width: 100vw;
 height: 58.1vh;  
 background-color: rgb(152, 133, 170); 
 border-style: solid;
 border-width: 3px;
 border-left: none;
 border-right: none;
 border-color: rgb(253, 236, 0);  
 }


 #packageSelectBox{
 position: fixed; 
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 50vw;
 height: 50vh;
 background-color: rgb(79, 57, 99); 
 border-radius: 20px;
 border-style: solid;
 border-color: rgb(224, 206, 240);
 border-width: 3px;
 z-index: 8;
 display: none;
 }

 #Xselect{
 position: absolute;
 top: 10%;
 left: 95%;
 transform: translate(-50%, -50%);
 width: 3vw;  
 }
 #Xselect:hover{
 cursor: pointer; 
 }

 #packageSelectH1{
 position: absolute;
 top: 20%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;  
 font-size: 2vw;
 
 }

 #packageSelectH2{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white; 
 font-size: 1.5vw; 
 }

 #packageSelectH3{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 1.5vw;     
 }

 /* below is the first contact box */


 #contactBox{
 position: absolute;
 top: 270vh;
 left: 0vw;
 width: 100vw;
 height: 70vh;
 background-color:rgb(224, 206, 240); 
 overflow: hidden;   
 }

 #contactLogo{
position: absolute;
top: 50%;
left: 50%; 
transform: translate(-50%, -50%);
width: 25vw;   
}

#contactLogo:hover{
opacity: 0.5;    
}



    

/* below is the our philosophy section */


#philosophyDiv{
position: absolute;    
top: 340vh; 
left: 0vw;
width: 100vw;
height: 100vh;
background: url('frozen-treat-sprinkles-01.jpg');
background-repeat: no-repeat;
background-size: 100vw 100vh; 

}

#philosophyTextBackdrop{
position: absolute;
top: 10vh;
left: 53.8vw;
width: 35vw;
height: 70vh; 
background-color: aliceblue;
border-radius: 15px; 
opacity: 0.6;
}

#philosophyh1{
position: absolute;
top: 10vh;
left: 55vw; 
width: 35vw;
font-family: 'Indie Flower', cursive;
font-size: 2.5vw;  
color: rgb(156, 111, 197); 
}


/* below is second contact box */

#contactBox2{
    position: absolute;
    top: 440vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color:rgb(152, 133, 170); 
     
    }
   
  #flavorText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: 'Indie Flower', cursive;
    color: rgb(253, 236, 0);
    font-size: 50px;
  }


  

   /* Below is the footer */


   #footerDiv{
   position: absolute;    
   top: 540vh;
   left: 0vw;
   width: 100vw;
   height: 100vh;
 
   }
    #friendsLight{
    position: absolute;
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 81vh;  
    }

    #contactH1{
    position: absolute;
    top: 5vh;
    left: 10vw;
    font-family: 'Indie Flower', cursive;
    font-size: 4vw;  
    color: rgb(156, 111, 197);
    z-index: 3;   
    }

   #footer{
   position: absolute;
   top: 80vh;
   left: 0vw;
   width: 100vw;
   height: 20vh;
   background-color: black;    
   }

   #logoFooter{
   position: absolute;
   top: 0vh;
   left: 80vw;
   width: 15vw;   
   }

   #footerUl{
    position: absolute;
    top: 0vh; 
    left: 2vw;   
    color: white;
    z-index: 3;
   
    opacity: 1;
    z-index: 10;
    
    }
    
    #footerUl li {
    display: block;
    font-size: 1.7vw;
    font-family: 'Indie Flower', cursive;
    }

    #footerUl a{
    text-decoration: none;
    color: white;  
    }




   /*/
   /
   /
   /
   /
   /
   /
   /
   #/
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   */


   /* Below this point is tablet optimization */

   @media only screen and (max-width: 1050px){



    /* below is a container to house all content to stop overflow */
    
    
    
    
    
    
    #mainContainer{
        position: absolute; 
        width: 100vw;
        height: 510vh; 
        overflow-x: hidden;  
        }
        /* main header below */
        
        #headerDiv{
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 15vh;
        background-color: rgb(152, 133, 170);  
        overflow-x: hidden; 
        z-index: 9; 
        }
    
        #tag {
            position: fixed;
            top: 4vh;
            left: 75vw;
            width: 14vw;
            min-width: 40px;
            z-index: 3;
            display: block;
            opacity: 0;
            animation: appear 1s linear 2s forwards;
           
          }
          
          #tag1 {
            position: fixed;
            top: 4.1vh;
            left: 75vw;
            width: 13.9vw;
            min-width: 40px;
            z-index: 1;
            opacity: 0;
            display: block;
          }
          
          #tag2 {
            position: fixed;
            top: 4.1vh;
            left: 75vw;
            width: 13.9vw;
            min-width: 40px;
            z-index: 1;
            opacity: 0;
            display: block;
          }
    
          #menuDiv {
            position: fixed;
            top: 0vh;
            left: 0vw;
            height: 100vh;
            width: 30vw;
            background-color: rgb(131, 115, 146);
         
            opacity: 0;
            z-index: 6;
            display: block;
          }
        
        /* header ul list for desk top */
        
        #headerUl{
      
        display: none;
        z-index: 9;
        
        }
        
        /* second menu code for mobile site below */
    
        #menuUl{
          position: absolute;
          top: 13vh; 
          left: 10vw;   
          color: rgb(253, 236, 0);
          z-index: 3;
          animation: listDrop 1s linear forwards;
          animation-delay: 0.5s;
          opacity: 0;
          display: hidden;
          z-index: 9;
          
          }
          
          #menuUl li {
          display: block;
          font-size: 5.5vw;
          padding-right: 10vw;
          padding-bottom: 5vh;
          font-family: 'Indie Flower', cursive;
          z-index: 9;
          }
          
          
          #menuUl a{
              
          text-decoration: none;  
          color: rgb(253, 236, 0);  
          }
          
          #menuA{
          color: rgb(253, 236, 0); 
            
          }
          #contactA{
          color: rgb(253, 236, 0);     
          }
    
    
          #logoLight{
          position: absolute;
          top: 1vh;
          left: 6vw;
          width: 35vw;
          display: block;
          opacity: 0;
          animation: appear 1s linear 1s forwards;
           
         
          }
          
      
    
        
        /* title div below */
        
        #titleDiv{
        position: absolute;
        top: 15vh;
        left: 0vw;
        width: 100vw;
        height: 80vh;
        z-index: 1;
           
        }
        
        #bikePic{
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 140vw;
        height: 80vh; 
        opacity: 1;  
        display: none;
        }
    
        #bikePic2{
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 120vw;
        height: 80vh; 
        opacity: 1; 
        display: block; 
        z-index: 3;
        }
        
        #logo{
        position: absolute;
        top: 5vh;
        left: 10vw;
        height: 70vh;
        width: 80vw;
        z-index: 3;  
        opacity: 0;  
        display: none;   
        }
    
        #logo2{
        position: absolute;
        top: 5vh;
        left: 10vw;
        height: 70vh;
        width: 80vw;
        z-index: 3;  
        opacity: 0.8;  
        display: none;   
        }
    
        
        #white{
        position: absolute;
        top: 0vh;
        left: 62vw;
        height: 80vh;
        width: 40vw;
        z-index: 2; 
        animation: appear 2s linear forwards; 
        display: none;
            
        }
        #whiteHeader{
        position: absolute;
        top: 0vh;
        left: 55.2vw;
        height: 60vh;
        width: 49vw;
        opacity: 0.5;
        z-index: 2; 
        animation: appear 2s linear forwards; 
        display: none;
        }
        
        #findMore{
        position: absolute;
        top: 68vh;
        left: 25vw;
        width: 45vw;
        height: 9vh;
        z-index: 3;
        display: block;
        
         
        }
        
        
        
        /* div with social media icons below */
        
        
        #socialMedia{
        position: absolute;
        top: 95vh;
        left: 0vw;
        width: 100vw;
        height: 10vh;
        border-style: solid;
        border-width: 3px;
        border-left: none;
        border-right: none;
        border-color: rgb(253, 236, 0);
        }
        
        #fb{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13vw;
        height: 9vh; 
        z-index: 6;   
        }
        
        #insta{
            position: absolute;
            top: 0.3vh;
            left: 15vw;
            width: 15vw;
            height: 9vh;    
            }
        #twiter{
            position: absolute;
            top: 0.3vh;
            left: 30vw;
            width: 15vw;
            height: 9vh;    
            }
        #whatsapp{
            position: absolute;
            top: 0.1vh;
            left: 45vw;
            width: 15vw;
            height: 9vh;    
            }
        
         /* below is packages information div */
         
         #packagesDiv{
         position: absolute;    
         top: 105vh;
         left: 0vw;
         width: 100vw;
         height: 210vh;
         overflow: hidden;
             
         }
        
         #charcoalIce{
         position: absolute;
         top: 0vh;
         left: 0vw;
         width: 100vw;
         height: 60vh;
         opacity: 0.4;  
         z-index: 0;  
         }
        
         #bikehiretext{
         position: absolute;
         top: 15vh;
         left: 5vw;  
         width: 90vw;
         height: 40vh;  
         }
        
        
         #packBox1{
        position: absolute;
        top: 70vh;   
        left: 25vw; 
        width: 50vw;
        height: 42vh;
        z-index: 2;
         }
         #packBox1:hover{
         opacity: 0.5;    
         }
        
         #silverh1{
        position: absolute;
        top: 10%;   
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-family: 'Indie Flower', cursive;
        color: rgb(210, 216, 216);  
        z-index: 5;   
        }  
        
        #silverP{
          position: absolute;
          top: 60%;   
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 28px;
          font-family: 'Indie Flower', cursive;
          color: rgb(210, 216, 216);  
          z-index: 5;    
          }
        
         #packBox2{
        position: absolute;
        top: 115vh;   
        left: 25vw; 
        width: 50vw;
        height: 42vh;
        z-index: 2;
        }
        #packBox2:hover{
        opacity: 0.5;    
        }
        
        
        #goldh1{
        position: absolute;
        top: 10%;   
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-family: 'Indie Flower', cursive;
        color: rgb(253, 236, 0);  
        z-index: 5;   
        } 
        
        #goldP{
          position: absolute;
          top: 60%;   
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 28px;
          font-family: 'Indie Flower', cursive;
          color: rgb(210, 216, 216);  
          z-index: 5;    
          }
        #packBox3{
        position: absolute;
        top: 160vh;   
        left: 25vw; 
        width: 50vw;
        height: 42vh;
        z-index: 2;
        }
        #packBox3:hover{
        opacity: 0.5;    
        }
        #plath1{
        position: absolute;
        top: 10%;   
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-family: 'Indie Flower', cursive;
        color: rgb(252, 252, 252);  
        z-index: 5;   
        }  
        #platP{
          position: absolute;
          top: 60%;   
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 28px;
          font-family: 'Indie Flower', cursive;
          color: rgb(210, 216, 216);  
          z-index: 5;    
          }      
        
         #packBoxDiv{
         position: absolute;
         top: 60vh;
         left: 0vw;
         width: 100vw;
         height: 149.5vh;  
         border-style: solid;
        border-width: 3px;
        border-left: none;
        border-right: none;
        border-color: rgb(253, 236, 0); 
       
         }

         
         
          #packageSelectBox{
          position: fixed; 
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50vw;
          height: 50vh;
          background-color: rgb(79, 57, 99); 
          border-radius: 20px;
          border-style: solid;
          border-color: rgb(224, 206, 240);
          border-width: 3px;
          z-index: 8;
         
          }

          #Xselect{
            position: absolute;
            top: 5%;
            left: 90%;
            transform: translate(-50%, -50%);
            width: 4vw;  
            }
           
         
          #packageSelectH1{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;  
            font-size: 4vw;
            
            }
           
            #packageSelectH2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; 
            font-size: 3vw; 
            }
           
            #packageSelectH3{
           position: absolute;
           top: 80%;
           left: 50%;
           transform: translate(-50%, -50%);
           color: white;
           font-size: 2vw;     
            }
        
         /* below is the first contact box */
        
        
         #contactBox{
         position: absolute;
         top: 315vh;
         left: 0vw;
         width: 100vw;
         height: 30vh;
         background-color:rgb(224, 206, 240);  
         overflow: hidden;  
         }
        
         #contactLogo{
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 30vw;   
        }
        
        #contactLogo:hover{
        opacity: 0.5;    
        }
        
        
        
            
        
        /* below is the our philosophy section */
        
        
        #philosophyDiv{
        position: absolute;    
        top: 345vh; 
        left: 0vw;
        width: 100vw;
        height: 50vh;
        background: url('frozen-treat-sprinkles-01.jpg');
        background-repeat: no-repeat;
        background-size: 100vw 50vh; 
        }

        #philosophyTextBackdrop{
        position: absolute;
        top: 10vh;
        left: 53.8vw;
        width: 35.5vw;
        height: 33.5vh; 
        background-color: aliceblue; 
        border-radius: 15px; 
        opacity: 0.6;
        }
       
        #philosophyh1{
        position: absolute;
        top: 10vh;
        left: 55vw; 
        font-family: 'Indie Flower', cursive;
        font-size: 3vw;  
        color: rgb(156, 111, 197); 
        }
        
        
        /* below is second contact box */
        
        #contactBox2{
            position: absolute;
            top: 395vh;
            left: 0vw;
            width: 100vw;
            height: 50vh;
            background-color:rgb(152, 133, 170); 
           
            display: block; 
            z-index: 4; 
            }
          
            #flavorText{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); 
              font-size: 45px;
              }
        
              
          
           /* Below is the footer */
        
        
           #footerDiv{
           position: absolute;    
           top: 444vh;
           left: 0vw;
           width: 100vw;
           height: 70vh;
        
           }

           #contactH1{
          position: absolute;
          top: 5vh;
          left: 10vw;
          font-family: 'Indie Flower', cursive;
          font-size: 6vw;  
          color: rgb(156, 111, 197);
          z-index: 3;   
          }
    
           #friendsLight{
           position: absolute;
           top: 0vh;
           left: 0vw;
           width: 100vw;
           height: 50vh;  
           }
        
           #footer{
           position: absolute;
           top: 50vh;
           left: 0vw;
           width: 100vw;
           height: 20vh;
           background-color: black;    
           }

           #logoFooter{
            position: absolute;
            top: 2vh;
            left: 60vw;
            width: 33vw;   
            }
         
            #footerUl{
             position: absolute;
             top: 1vh; 
             left: 2vw;   
             color: white;
             z-index: 3;
            
             opacity: 1;
             z-index: 10;
             
             }
             
             #footerUl li {
             display: block;
             font-size: 4vw;
             font-family: 'Indie Flower', cursive;
             }
         
             #footerUl a{
             text-decoration: none;
             color: white;  
             }
        
        
    
    
    
       }



   /* 


   smaller screen optimization below this point

   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   /
   //
   //
   //
   //
   //
   /////
   //////
   /////////
   /////////
   ....................................
 /////
 /////
     //////
       ///////
    /////
    //////
    //////
    /////
    /////
    ////
    ////
    //
    //
    /
    /
    /
    /.   

   */



   @media only screen and (max-width: 450px){



/* below is a container to house all content to stop overflow */






#mainContainer{
    position: absolute; 
    width: 100vw;
    height: 510vh; 
    overflow-x: hidden;  
    }
    /* main header below */
    
    #headerDiv{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 15vh;
    background-color: rgb(152, 133, 170);  
    overflow-x: hidden; 
    z-index: 9; 
    }

    #tag {
        position: fixed;
        top: 4vh;
        left: 75vw;
        width: 14vw;
        min-width: 40px;
        z-index: 3;
        display: block;
        opacity: 0;
        animation: appear 1s linear 2s forwards;
       
      }
      
      #tag1 {
        position: fixed;
        top: 4.1vh;
        left: 75vw;
        width: 13.9vw;
        min-width: 40px;
        z-index: 1;
        opacity: 0;
        display: block;
      }
      
      #tag2 {
        position: fixed;
        top: 4.1vh;
        left: 75vw;
        width: 13.9vw;
        min-width: 40px;
        z-index: 1;
        opacity: 0;
        display: block;
      }

      #menuDiv {
        position: fixed;
        top: 0vh;
        left: 0vw;
        height: 100vh;
        width: 30vw;
        background-color: rgb(131, 115, 146);
       

        opacity: 0;
        z-index: 6;
        display: block;
      }
    
    /* header ul list for desk top */
    
    #headerUl{
  
    display: none;
    z-index: 9;
    
    }
    
    /* second menu code for mobile site below */

    #menuUl{
      position: absolute;
      top: 13vh; 
      left: 10vw;   
      color: white;
      z-index: 3;
      animation: listDrop 1s linear forwards;
      animation-delay: 0.5s;
      opacity: 0;
      display: hidden;
      z-index: 9;
      
      }
      
      #menuUl li {
      display: block;
      font-size: 5.5vw;
      padding-right: 10vw;
      padding-bottom: 5vh;
      font-family: 'Indie Flower', cursive;
      z-index: 9;
      }
      
      
      #menuUl a{
          
      text-decoration: none;  
      color: rgb(253, 236, 0);  
      }
      
      #menuA{
      color: rgb(253, 236, 0); 
        
      }
      #contactA{
      color: rgb(253, 236, 0);     
      }


      #logoLight{
      position: absolute;
      top: 2vh;
      left: 6vw;
      width: 35vw;
      display: block;
      opacity: 0;
      animation: appear 1s linear 1s forwards;
       
     
      }
      
  

    
    /* title div below */
    
    #titleDiv{
    position: absolute;
    top: 15vh;
    left: 0vw;
    width: 100vw;
    height: 80vh;
    z-index: 1;
       
    }
    
    #bikePic{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 140vw;
    height: 80vh; 
    opacity: 1;  
    display: none;
    }

    #bikePic2{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 120vw;
    height: 80vh; 
    opacity: 1; 
    display: block; 
    z-index: 3;
    }
    
    #logo{
    position: absolute;
    top: 5vh;
    left: 10vw;
    height: 70vh;
    width: 80vw;
    z-index: 3;  
    opacity: 0;  
    display: none;   
    }

    #logo2{
    position: absolute;
    top: 5vh;
    left: 10vw;
    height: 70vh;
    width: 80vw;
    z-index: 3;  
    opacity: 0.8;  
    display: none;   
    }

    
    #white{
    position: absolute;
    top: 0vh;
    left: 62vw;
    height: 80vh;
    width: 40vw;
    z-index: 2; 
    animation: appear 2s linear forwards; 
    display: none;
        
    }
    #whiteHeader{
    position: absolute;
    top: 0vh;
    left: 55.2vw;
    height: 60vh;
    width: 49vw;
    opacity: 0.5;
    z-index: 2; 
    animation: appear 2s linear forwards; 
    display: none;
    }
    
    #findMore{
    position: absolute;
    top: 68vh;
    left: 25vw;
    width: 45vw;
    height: 9vh;
    z-index: 3;
    display: block;
    
     
    }
    
    
    
    /* div with social media icons below */
    
    
    #socialMedia{
    position: absolute;
    top: 95vh;
    left: 0vw;
    width: 100vw;
    height: 10vh;
    border-style: solid;
    border-width: 3px;
    border-left: none;
    border-right: none;
    border-color: rgb(253, 236, 0);
    }
    
    #fb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    height: 9vh;    
    }
    
    #insta{
        position: absolute;
        top: 0.3vh;
        left: 15vw;
        width: 15vw;
        height: 9vh;    
        }
    #twiter{
        position: absolute;
        top: 0.3vh;
        left: 30vw;
        width: 15vw;
        height: 9vh;    
        }
    #whatsapp{
        position: absolute;
        top: 0.1vh;
        left: 45vw;
        width: 15vw;
        height: 9vh;    
        }
    
     /* below is packages information div */
     
     #packagesDiv{
     position: absolute;    
     top: 105vh;
     left: 0vw;
     width: 100vw;
     height: 210vh;
     overflow: hidden;
         
     }
    
     #charcoalIce{
     position: absolute;
     top: 0vh;
     left: 0vw;
     width: 100vw;
     height: 60vh;
     opacity: 0.4;  
     z-index: 0;  
     }
    
     #bikehiretext{
     position: absolute;
     top: 15vh;
     left: 5vw;  
     width: 90vw;
     height: 40vh;  
     }
    
    
     #packBox1{
    position: absolute;
    top: 70vh;   
    left: 15vw; 
    width: 70vw;
    height: 42vh;
    z-index: 2;
     }
     #packBox1:hover{
     opacity: 0.5;    
     }
    
     #silverh1{
    position: absolute;
    top: 10%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    color: rgb(210, 216, 216);  
    z-index: 5;   
    }  
    
    #silverP{
    position: absolute;
    top: 60%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(210, 216, 216);  
    z-index: 5;    
      }
    
     #packBox2{
    position: absolute;
    top: 115vh;   
    left: 15vw; 
    width: 70vw;
    height: 42vh;
    z-index: 2;
    }
    #packBox2:hover{
    opacity: 0.5;    
    }
    
    
    #goldh1{
    position: absolute;
    top: 10%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    color: rgb(253, 236, 0);  
    z-index: 5;   
    }   
    
    #goldP{
    position: absolute;
    top: 60%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(210, 216, 216);  
    z-index: 5;    
        }
    #packBox3{
    position: absolute;
    top: 160vh;   
    left: 15vw; 
    width: 70vw;
    height: 42vh;
    z-index: 2;
    }
    #packBox3:hover{
    opacity: 0.5;    
    }
    #plath1{
    position: absolute;
    top: 10%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    color: rgb(252, 252, 252);  
    z-index: 5;   
    }  
    
    #platP{
    position: absolute;
    top: 60%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(210, 216, 216);  
    z-index: 5;    
        }
    
     #packBoxDiv{
     position: absolute;
     top: 60vh;
     left: 0vw;
     width: 100vw;
     height: 149.3vh;  
     background-color: rgb(152, 133, 170); 
     border-style: solid;
     border-width: 3px;
     border-left: none;
     border-right: none;
     border-color: rgb(253, 236, 0);  
     }

     
      #packageSelectBox{
      position: fixed; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      height: 50vh;
      background-color: rgb(79, 57, 99); 
      border-radius: 20px;
      border-style: solid;
      border-color: rgb(224, 206, 240);
      border-width: 3px;
      z-index: 8;
     
      }

      #Xselect{
      position: absolute;
      top: 5%;
      left: 90%;
      transform: translate(-50%, -50%);
      width: 4vw;  
      }
     
      #packageSelectH1{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;  
        font-size: 4vw;
        
        }
       
        #packageSelectH2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        font-size: 3.5vw; 
        }
       
        #packageSelectH3{
       position: absolute;
       top: 80%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: white;
       font-size: 3vw;     
        }
    
     /* below is the first contact box */
    
    
     #contactBox{
     position: absolute;
     top: 315vh;
     left: 0vw;
     width: 100vw;
     height: 30vh;
     background-color:rgb(224, 206, 240);  
     overflow: hidden;  
     }
    
     #contactLogo{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 40vw;   
    }
    
    #contactLogo:hover{
    opacity: 0.5;    
    }
    
    
    
        
    
    /* below is the our philosophy section */
    
    
    #philosophyDiv{
    position: absolute;    
    top: 345vh; 
    left: 0vw;
    width: 100vw;
    height: 50vh;
    background: url('frozen-treat-sprinkles-01.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 50vh; 
    }

    #philosophyTextBackdrop{
    position: absolute;
    top: 5vh;
    left: 53.8vw;
    width: 36.5vw;
    height: 40vh; 
    background-color: aliceblue; 
    border-radius: 15px; 
    opacity: 0.6;
    }
   
    #philosophyh1{
    position: absolute;
    top: 5vh;
    left: 55vw; 
    font-family: 'Indie Flower', cursive;
    font-size: 4vw;  
    color: rgb(156, 111, 197); 
    }
    
    
    /* below is second contact box */
    
    #contactBox2{
        position: absolute;
        top: 395vh;
        left: 0vw;
        width: 100vw;
        height: 50vh;
        background-color:rgb(152, 133, 170); 
       
        display: block; 
        z-index: 4; 
        }
       
        #flavorText{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); 
          font-size: 25px;
          }
    
      
       /* Below is the footer */
    
    
       #footerDiv{
       position: absolute;    
       top: 444vh;
       left: 0vw;
       width: 100vw;
       height: 70vh;
    
       }

      #contactH1{
      position: absolute;
      top: 5vh;
      left: 10vw;
      font-family: 'Indie Flower', cursive;
      font-size: 7vw;  
      color: rgb(156, 111, 197);
      z-index: 3;   
      }

       #friendsLight{
       position: absolute;
       top: 0vh;
       left: 0vw;
       width: 100vw;
       height: 50vh;  
       }
    
       #footer{
       position: absolute;
       top: 50vh;
       left: 0vw;
       width: 100vw;
       height: 20vh;
       background-color: black;    
       }

      #logoFooter{
      position: absolute;
      top: 3vh;
      left: 55vw;
      width: 37vw;   
      }
    
      #footerUl{
        position: absolute;
        top: 2vh; 
        left: 0vw;   
        color: white;
        z-index: 3;
      
        opacity: 1;
        z-index: 10;
        
        }
        
        #footerUl li {
        display: block;
        font-size: 5vw;
        font-family: 'Indie Flower', cursive;
        }
    
        #footerUl a{
        text-decoration: none;
        color: white;  
        }
  
  



   }

  